<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Today's latest price for <%= @retailer.first_name %>e</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to "Home", supplier_dashboard_path%>
            </li>
            <li class="active">
                <strong><%= @retailer.business_name %></strong>
            </li>

            <%= link_to edit_supplier_retailer_path(@retailer), remote: true do %>
            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#editRetailer">
                <i class="fa fa-plus"></i>
                <strong>&nbsp;Edit Retailer</strong>
            </button>
            <%end%>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="row">
    <div class="title">
        <h3 id="today">Today's latest price for <%= @retailer.first_name %></h3>
    </div>
    <% if @retailer.retail_prices.empty? %>
    <div class="col-lg-12">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>No Fuel Price Found</strong>
                    </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%else%>
    <% prices = {} %>
    <% @latest_fuel_price.retail_products.each do |product| %>
    <% prices[product.fuel] = product.price %>
    <%end%>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>87 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "87 RFG E10" %>
                        <%= prices["87 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>89 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "89 RFG E10" %>
                        <%= prices["89 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>91 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "91 RFG E10" %>
                        <%= prices["91 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>93 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "93 RFG E10" %>
                        <%= prices["93 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Low Sodium Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Low Sodium Diesel" %>
                        <%= prices["Low Sodium Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Dyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Dyed ULS Diesel" %>
                        <%= prices["Dyed ULS Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Undyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Undyed ULS Diesel" %>
                        <%= prices["Undyed ULS Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Jet Fuel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Jet Fuel" %>
                        <%= prices["Jet Fuel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Heating Oil</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Heating Oil" %>
                        <%= prices["Heating Oil"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Kerosene</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Kerosene" %>
                        <%= prices["Kerosene"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%end%>
</div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Margins for <%= @retailer.first_name %>e</h2>
    </div>
    <div class="col-lg-2"></div>
</div>

<!-- Margins-->
<div class="row">
    <div class="title">
        <h3 id="today">Margins for <%= @retailer.first_name %> (These margins + your fuel price will be this retailer's purchasing price.)</h3>
    </div>
    <% if @retailer.fuel_formulas.empty? %>
    <div class="col-lg-12">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>No Fuel Margin Found</strong>
                    </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%else%>
    <% prices = {} %>
    <% @retailer.fuel_formulas.each do |product| %>
    <% prices[product.fuel] = product.margin %>
    <%end%>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>87 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "87 RFG E10" %>
                        <%= add_or_minus(prices["87 RFG E10"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>89 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "89 RFG E10" %>
                        <%= add_or_minus(prices["89 RFG E10"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>91 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "91 RFG E10" %>
                        <%= add_or_minus(prices["91 RFG E10"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>93 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "93 RFG E10" %>
                        <%= add_or_minus(prices["93 RFG E10"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Low Sodium Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Low Sodium Diesel" %>
                        <%= add_or_minus(prices["Low Sodium Diesel"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Dyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Dyed ULS Diesel" %>
                        <%= add_or_minus(prices["Dyed ULS Diesel"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Undyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Undyed ULS Diesel" %>
                        <%= add_or_minus(prices["Undyed ULS Diesel"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Jet Fuel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Jet Fuel" %>
                        <%= add_or_minus(prices["Jet Fuel"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Heating Oil</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Heating Oil" %>
                        <%= add_or_minus(prices["Heating Oil"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Kerosene</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Kerosene" %>
                        <%= add_or_minus(prices["Kerosene"])%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%end%>
</div>


<div class="modal inmodal" id="editRetailer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <i class="fa fa-usd modal-icon" style="color:#1ab394"></i>
                <h4 class="modal-title">Edit Retailer</h4>
                <span class="font-bold">Your Retailrs will get text message of your latest price</span>
            </br>
            <span class="font-bold">As (your fuel price + the Margin).</span>
        </div>
        <div class="modal-body" id="RetailerModelBody">
            <!-- form -->
        </div>
    </div>
</div>
</div>
