<div class="row">
    <div class="title">
        <h3 id="today">Today's latest price for <%= @retailer.first_name %></h3>
    </div>
    <% if @retailer.retail_prices.empty? %>
    <div class="col-lg-12">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>No Fuel Price Found</strong>
                    </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%else%>
    <% prices = {} %>
    <% @latest_fuel_price.retail_products.each do |product| %>
    <% prices[product.fuel] = product.price %>
    <%end%>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>87 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "87 RFG E10" %>
                        <%= prices["87 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>89 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "89 RFG E10" %>
                        <%= prices["89 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>91 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "91 RFG E10" %>
                        <%= prices["91 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>93 RFG E10</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "93 RFG E10" %>
                        <%= prices["93 RFG E10"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Low Sodium Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Low Sodium Diesel" %>
                        <%= prices["Low Sodium Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Dyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Dyed ULS Diesel" %>
                        <%= prices["Dyed ULS Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Undyed ULS Diesel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Undyed ULS Diesel" %>
                        <%= prices["Undyed ULS Diesel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Jet Fuel</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Jet Fuel" %>
                        <%= prices["Jet Fuel"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget style1 red-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Heating Oil</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Heating Oil" %>
                        <%= prices["Heating Oil"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-usd fa-3x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>
                        <strong>Kerosene</strong>
                    </span>
                    <h2 class="font-bold">
                        <% if prices.include? "Kerosene" %>
                        <%= prices["Kerosene"]%>
                        <%else%>
                        ---/---
                        <%end%>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <%end%>
</div>
