<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>
      <i class="fa fa-rocket" style="color:#EF5350"></i>&nbsp;Price<span style="color:#EF5350">Rocket</span>
      Mass Send</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", supplier_dashboard_path%>
      </li>
      <div class="btn-group open pull-right">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">Mass Send&nbsp;<span class="caret"></span></button><div class="dropdown-backdrop"></div>
                            <ul class="dropdown-menu">
                                <li><%= link_to "Send Default Text", supplier_mass_send_path,:method => :post%></li>
                                <li><a href="#" class="font-bold" data-toggle="modal" data-target="#customMessage">Customize Text</a></li>
                            </ul>
      </div>

    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Contact Name</th>
                <th>Phone</th>
                <th>Default Text</th>
                <th> Status </th>
              </tr>
            </thead>
                  <% @texts.each do |text| %>
            <tbody>

              <tr class="gradeX">
                <td class="mycell col-md-2">
                  <strong><%= contact_name(text.to)%></strong>
                </td>
                <td class="mycell col-md-1"><%= text.to %></td>
                <td class="mycell">
                  <strong><%= text.body %></strong>
                </td>
                <td class="mycell1 col-md-1">
                  <strong>
                    <span class="label label-<%= check_text_success(text) %>"><%= check_text(text) %></span>
                  </strong>
                </td>
                </tr>
                <%end%>
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>

  <div class="modal inmodal" id="customMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <i class="fa fa-paper-plane modal-icon" style="color:#1ab394"></i>
          <h4 class="modal-title">You are customizing the message</h4>
          <span class="font-bold">By default your contacts will receive just their latest fuel price</span>
        </br>
        <span class="font-bold">You can add custom message below.</span>
      </div>
      <div class="modal-body">
   <h1><strong>There will be a form here to customize message</strong></h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-white" data-dismiss="modal">Send</button>
      </div>
    </div>
  </div>
</div>
