<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Add New Retailer</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", supplier_dashboard_path%>
      </li>
      <li>
        <strong>Contacts</strong>
      </li>
      <li class="active">
        <strong>Update Contact</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox-content">
      <div class="row">
        <%= simple_form_for @contact, url: supplier_contact_path do |f| %>
        <%= f.input :first_name, label: "First Name" %>
        <%= f.input :last_name, label: "Last Name"%>
        <%= f.input :business_name, label: "Business Name" %>
        <%= f.input :phone_number, label: "Phone Number" %>
        <%= f.input :cell_number, label: "Mobile Number" %>
        <%= f.input :carrier, :label => "Mobile Carrier", :collection => mobile_carrier, :selected => "Tmobile"%>
        <%= f.input :street_address, label: "Street Address" %>
        <%= f.input :apt_suite, label: "Apt/Suite" %>
        <%= f.input :city, label: "City" %>
        <%= f.input :state, :label => "State", :collection => us_states, :selected => "New Jersey"%>
        <%= f.input :zip_code, :label => "Zip Code"%>
        <%= f.input :c_regular, :label => "Regular", class:  "form-control" %>

        <%= f.input :c_medium, :label => "Medium"%>
        <%= f.input :c_premium, :label => "Premium"%>
        <%= f.input :c_diesel, :label => "Diesel"%>
        <%= f.input :c_delivery, :label => "Delivery Charges"%>
        <%= f.button :submit, "Update", class: "btn btn-primary block full-width m-b"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
