<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Wizard</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", supplier_dashboard_path %>
      </li>
      <li>
        <a>Forms</a>
      </li>
      <li class="active">
        <strong>Wizard</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1>You are about to add PriceMagic Contact</h1>
        <p>You just Add contact of your retailer with their margin. We will send them latest price everyday whenever you update the fuel price.</p>
        <p>
          <span class="btn btn-primary btn-lg disabled">
            <i class="fa fa-magic"></i>PriceMagic</span>
          <span>
            <small>
              <strong>Powered by</strong>
            </small><%= image_tag("rsz_1petrohub.png")%></span>
        </p>
      </div>
    </div>
  </div>
  <div class="ibox-content">
  <%= simple_form_for @contact, class: "m-t" do |f| %>
  <%= f.input :first_name, label: "First Name"%>
  <%= f.input :last_name, label: "Last Name"%>
  <%= f.input :phone_number, label: "Phone Number"%>
  <%= f.input :regular, label: "87"%>
  <%= f.input :premium, label: "93"%>
  <%= f.input :diesel, label: "Diesel"%>
  <%= f.input :delivery, label: "Delivery"%>
  <%= f.button :submit, "Add Contact", class: "btn btn-primary"%>
  <%end%>
  </div>
