<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PetroHub</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#page-top">Home</a>
          </li>
          <li>
            <a class="page-scroll" href="#features">WHAT WE DO</a>
          </li>
          <li>
            <a class="page-scroll" href="#team">Who we are</a>
          </li>
          <li>
            <a class="page-scroll" href="#testimonials">Testimonials</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Apply</a>
          </li>
          <li>
            <%= link_to "Log In", login_path, class:"page-scroll"%>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="nope">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>We make managing<br/>
            your gas business<br/>
            Efficient, Accessible
            <br/>
            and Enjoyable!</h1>
          <p>Coming Soon: A State of the Art Ordering System</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#features" role="button">READ MORE</a>
          </p>
        </div>
        <div class="carousel-image wow zoomIn">
          <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
  </div>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>Negotiated Fuel Pricing</h2>
      <p>Using group purchasing power, we are able to negotiate very competitive pricing for our retailers' network.
      </p>

    </div>
    <div class="col-sm-3">
      <h2>One-Stop Shop</h2>
      <p>Retailers can find gas station related service providers using our growing directory including competitive credit card processors, business loans, and insurance.
      </p>

    </div>
    <div class="col-sm-3">
      <h2>Maintenance</h2>
      <p>Thru our network, retailers enjoy discounts on services such as fuel tank inspections, signage, and POS systems.
      </p>

    </div>
    <div class="col-sm-3">
      <h2>Classifieds</h2>
      <p>Browse a growing list of stations for sale, or use one of our network's qualified brokers to sell your business. Also offered is the opportunity to entertain the option of "Branding" your gas station.</p>

    </div>
  </div>
</section>

<section class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>COMING SOON<br/>
        <span class="navy">
          State of the Art Fuel Ordering Platform</span>
      </h1>
      <p>We're proudly expecting the public release of our new Online Fuel Ordering Platform mid-2016
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-mobile features-icon"></i>
        <h2>Mobility</h2>
        <p>Via mobile devices, users will be able to access the system to place orders, check status, and even make EFT payments
        </p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bar-chart features-icon"></i>
        <h2>Reporting</h2>
        <p>Built-in reports that give you clear insight of how your business is performing</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-usd features-icon"></i>
        <h2>Instant Quotes</h2>
        <p>Access all of your suppliers' daily prices... Instantly!</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-key features-icon"></i>
        <h2>Secure</h2>
        <p>Using a mix of encryption algorithms, 2FA login, and even finger-print scanner, you can rest assure that your data is safe and secure</p>
      </div>
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Who we are</h1>
        <h4>Think of PetroHub as an alliance of fuel retailers (gas stations); an alliance that focuses on increasing revenues for its retailers. How?</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          As individual retailer, your supply costs are negotiated with very high markups; meaning you must lower your margin to stay competitive. This is also true for other operational costs, such as credit card processing, regular maintenance, signs,
          insurance fees, etc. PetroHub levels the playing field for the unbranded retailers by leveraging collective purchasing power to negotiate the best supply costs. Instead of you placing individual orders, PetroHub submits orders collectively from other
          retailers to negotiate "wholesale" pricing, allowing you to increase your margin for better revenues.
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Who we are NOT</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul>
          <span>We are
            <span style="text-decoration: underline;">not</span>
            suppliers<br/></span>
          <span style="line-height: 1.3em;">We are
            <span style="text-decoration: underline;">not</span>
            distributors<br/>
          </span>
          <span style="line-height: 1.3em;">We are
            <span style="text-decoration: underline;">not</span>
            jobbers<br/></span>
          <span style="line-height: 1.3em;">We are
            <span style="text-decoration: underline;">not</span>
            branding brokers<br/></span>
        </div>
      </div>
      <br/>
    </div>

  </section>

  <section id="testimonials" class="comments white-section" style="margin-top: 0">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Testimonials</h1>
          <p>With over 350 Gas Stations in our network, here's what some of our members had to say about us
          </p>
        </div>
      </div>
      <div class="row features-block">
        <div class="col-lg-4">
          <div class="bubble">
            "These guys reach in the lion's mouth to get the deal I want... metaphorically speaking!"
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="<%= image_path('person_placeholder.png') %>">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Tony Bello Rosso
              </div>
              <small class="text-muted">Exxon Dealer</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bubble">
            "This business is getting very tough and hectic. We need an organization like PetroHub that's mainly focused on serving us. I love their concept and where they're headed! "
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="<%= image_path('person_placeholder.png') %>">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Anonymous
              </div>
              <small class="text-muted">Fuel Distributor</small>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="bubble">
            "I own an LED sign company. I have done a lot of work for PetroHub members. I always agree to PetroHub's terms because I know they're not greedy and they really do have their members' best interest at heart"
          </div>
          <div class="comments-avatar">
            <a href="" class="pull-left">
              <img alt="image" src="<%= image_path('person_placeholder.png') %>">
            </a>
            <div class="media-body">
              <div class="commens-name">
                Anthony
              </div>
              <small class="text-muted">Blue 2 Solutions</small>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <section id="contact" class="gray-section contact">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line"></div>
          <h1>Apply</h1>
        </div>
      </div>
      <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
          <address>
            <strong>
              <span class="navy">Petroleum Hub LLC</span>
            </strong><br/>
            209 Main Street, 2nd floor<br/>
            Woodbridge, NJ 07095<br/>
            <abbr title="Phone">Ph:</abbr>
            (267) 60PETRO
            <br/>
            (267) 6073876
          </address>
        </div>
        <div class="col-lg-4">
          <p class="text-color">
            <a href="mailto:sales@petrohub.org">sales@petrohub.org</a><br/>
            Visit Us at:
            <a href="www.petrohub.org">
              PetroHub.org</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= link_to "Apply", new_user_path, id: "apply",class: "btn btn-primary"%>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
          <p>
            <strong>&copy; 2016 PetroHub</strong><br/>
            We make managing your business Awesome again.</p>
        </div>
      </div>
    </div>
  </section>
  <% content_for :javascript do %>

  <script type="text/javascript">

    $(function () {

      $('body').addClass('landing-page');
      $('body').attr('id', 'page-top');

      $('body').scrollspy({target: '.navbar-fixed-top', offset: 80});

      // Page scrolling feature
      $('a.page-scroll').bind('click', function (event) {
        var link = $(this);
        $('html, body').stop().animate({
          scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
        $("#navbar").collapse('hide');
      });

      var cbpAnimatedHeader = (function () {
        var docElem = document.documentElement,
          header = document.querySelector('.navbar-default'),
          didScroll = false,
          changeHeaderOn = 200;
        function init() {
          window.addEventListener('scroll', function (event) {
            if (!didScroll) {
              didScroll = true;
              setTimeout(scrollPage, 250);
            }
          }, false);
        }
        function scrollPage() {
          var sy = scrollY();
          if (sy >= changeHeaderOn) {
            $(header).addClass('navbar-scroll')
          } else {
            $(header).removeClass('navbar-scroll')
          }
          didScroll = false;
        }
        function scrollY() {
          return window.pageYOffset || docElem.scrollTop;
        }
        init();

      })();

    });
  </script>

  <% end %>
