<div class="navbar-wrapper">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PetroHub</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#page-top">Home</a>
          </li>
          <li>
            <a class="page-scroll" href="#features">Features</a>
          </li>
          <li>
            <a class="page-scroll" href="#team">Team</a>
          </li>
          <li>
            <a class="page-scroll" href="#testimonials">Testimonials</a>
          </li>
          <li>
            <a class="page-scroll" href="#contact">Apply</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="nope">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>We make<br/>
            Your Gasy Life,<br/>
            Gasier.<br/>
            we are PetroHub</h1>
          <p>Complete solution for Ordering and tracking Fuel.</p>
          <p>
            <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
          </p>
        </div>
        <div class="carousel-image wow zoomIn">
          <img src="<%= image_path('landing/laptop.png') %>" alt="laptop"/>
        </div>
      </div>
      <!-- Set background for slide in css -->
      <div class="header-back one"></div>

    </div>
  </div>
</div>

<section id="features" class="container services">
  <div class="row">
    <div class="col-sm-3">
      <h2>Lorem</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p>
        <a class="navy-link" href="#" role="button">Details &raquo;</a>
      </p>
    </div>
    <div class="col-sm-3">
      <h2>Ipsum</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p>
        <a class="navy-link" href="#" role="button">Details &raquo;</a>
      </p>
    </div>
    <div class="col-sm-3">
      <h2>Loremur</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p>
        <a class="navy-link" href="#" role="button">Details &raquo;</a>
      </p>
    </div>
    <div class="col-sm-3">
      <h2>Ipsumer</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      <p>
        <a class="navy-link" href="#" role="button">Details &raquo;</a>
      </p>
    </div>
  </div>
</section>

<section class="container features">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>State of the art Platform<br/>
        <span class="navy">
          For Fuel Ordering</span>
      </h1>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center wow fadeInLeft">
      <div>
        <i class="fa fa-mobile features-icon"></i>
        <h2>Lorem</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-bar-chart features-icon"></i>
        <h2>Ipsum</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
    </div>
    <div class="col-md-6 text-center  wow zoomIn">
      <img src="<%= image_path('landing/perspective.png') %>" alt="dashboard" class="img-responsive">
    </div>
    <div class="col-md-3 text-center wow fadeInRight">
      <div>
        <i class="fa fa-envelope features-icon"></i>
        <h2>Lorem</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
      <div class="m-t-lg">
        <i class="fa fa-google features-icon"></i>
        <h2>Ipsum</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>Lorem</h1>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
      </p>
    </div>
  </div>
  <div class="row features-block">
    <div class="col-lg-6 features-text wow fadeInLeft">
      <small>Petrohub</small>
      <h2>Perfectly designed
      </h2>
      <p>Loren Ipsum</p>
      <a href="" class="btn btn-primary">Learn more</a>
    </div>
    <div class="col-lg-6 text-right wow fadeInRight">
      <img src="<%= image_path('landing/dashboard.png') %>" alt="dashboard" class="img-responsive pull-right">
    </div>
  </div>
</section>

<section id="team" class="gray-section team">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Our Team</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 wow fadeInLeft">
        <div class="team-member">
          <img src="<%= image_path('landing/avatar3.jpg') %>" class="img-responsive img-circle img-small" alt="">
          <h4>
            <span class="navy">Amelia</span>
            Smith</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.
          </p>
          <ul class="list-inline social-icon">
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member wow zoomIn">
          <img src="<%= image_path('landing/avatar1.jpg') %>" class="img-responsive img-circle" alt="">
          <h4>
            <span class="navy">John</span>
            Novak</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
          <ul class="list-inline social-icon">
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4 wow fadeInRight">
        <div class="team-member">
          <img src="<%= image_path('landing/avatar2.jpg') %>" class="img-responsive img-circle img-small" alt="">
          <h4>
            <span class="navy">Peter</span>
            Johnson</h4>
          <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
          <ul class="list-inline social-icon">
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="comments gray-section" style="margin-top: 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>What our partners say</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada.
        </p>
      </div>
    </div>
    <div class="row features-block">
      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar3.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar1.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bubble">
          "Uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)."
        </div>
        <div class="comments-avatar">
          <a href="" class="pull-left">
            <img alt="image" src="<%= image_path('landing/avatar2.jpg') %>">
          </a>
          <div class="media-body">
            <div class="commens-name">
              Andrew Williams
            </div>
            <small class="text-muted">Company X from California</small>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<section id="contact" class="gray-section contact">
  <div class="container">
    <div class="row m-b-lg">
      <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Apply</h1>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>
    </div>
    <div class="row m-b-lg">
      <div class="col-lg-3 col-lg-offset-3">
        <address>
          <strong>
            <span class="navy">Company name, Inc.</span>
          </strong><br/>
          795 Folsom Ave, Suite 600<br/>
          San Francisco, CA 94107<br/>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
        </address>
      </div>
      <div class="col-lg-4">
        <p class="text-color">
          Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= link_to "Apply", new_user_path, id: "apply",class: "btn btn-primary"%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        <p>
          <strong>&copy; 2016 PetroHub</strong><br/>
           We make your life easy.</p>
      </div>
    </div>
  </div>
</section>
<% content_for :javascript do %>

<script type="text/javascript">

  $(function () {

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({target: '.navbar-fixed-top', offset: 80});

    // Page scrolling feature
    $('a.page-scroll').bind('click', function (event) {
      var link = $(this);
      $('html, body').stop().animate({
        scrollTop: $(link.attr('href')).offset().top - 50
      }, 500);
      event.preventDefault();
      $("#navbar").collapse('hide');
    });

    var cbpAnimatedHeader = (function () {
      var docElem = document.documentElement,
        header = document.querySelector('.navbar-default'),
        didScroll = false,
        changeHeaderOn = 200;
      function init() {
        window.addEventListener('scroll', function (event) {
          if (!didScroll) {
            didScroll = true;
            setTimeout(scrollPage, 250);
          }
        }, false);
      }
      function scrollPage() {
        var sy = scrollY();
        if (sy >= changeHeaderOn) {
          $(header).addClass('navbar-scroll')
        } else {
          $(header).removeClass('navbar-scroll')
        }
        didScroll = false;
      }
      function scrollY() {
        return window.pageYOffset || docElem.scrollTop;
      }
      init();

    })();

  });
</script>

<% end %>
