<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2><%= @supplier.first_name %>'s Dashboard</h2>
    <ol class="breadcrumb">
      <li class="active">
        <%= link_to "Your Latest Fuel Price", supplier_fuel_prices_path%>
      </li>
    </ol>
    <div class="col-lg-3 pull-right">
        <div class="widget style1 blue-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span><strong>Diesel</strong></span>
                    <h2 class="font-bold"><%= @latest_fuel_price.diesel %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pull-right">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span><strong>Premium</strong></span>
                    <h2 class="font-bold"><%= @latest_fuel_price.premium %></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pull-right">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span><strong>Medium</strong></span>
                    <h2 class="font-bold"><%= @latest_fuel_price.medium%></h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 pull-right">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-usd fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span><strong>Regular</strong></span>
                    <h2 class="font-bold"><%= @latest_fuel_price.regular %></h2>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>
