<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><i class="fa fa-rocket" style="color:#EF5350"></i>&nbsp;Price<span style="color:#EF5350">Rocket</span> History</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", supplier_dashboard_path%>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox chat-view">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="chat-discussion"> -->

            <% @texts.each do |f|%>
            <div class="chat-message left">
              <div class="message">
                <a class="message-author" href="<%= f %>"><%= f.to %></a>
                <span class="message-date"> <%= f.created_at.strftime('%D%M') %></span>
                <span class="message-content"><%= f.body %></span>
                <span class="label label-success"> Sent</span>

                <!-- <td class="mycell col-md-1"><strong><%= f.created_at.strftime('%D%M') %></strong></td>
                <td class="mycell col-md-1"><%= f.to %></td>
                <td class="mycell"><strong><%= f.body %></strong></td>
                <td class="mycell1 col-md-1"><strong><span class="label label-success">Sent</span></strong></td>
 -->
              </div>
            </div>
          <!-- </div> -->

            <%end%>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
