<%= simple_form_for([:supplier, @fuel_price],remote: true, :html => {:class => 'form-vertical' }) do |f| %>
<% flash.each do |key, message| %>
<div class="alert alert-<%= key %>">
    <%= message %>
</div>
<% end %>
<%= f.simple_fields_for :fuel_products do |fuel_products_form| %>
<%= render partial: 'fuel_products_fields', locals: {f: fuel_products_form} %>
<% end %>
<%= link_to_add_fields "Add more", f, :fuel_products %>
<div class="modal-footer">
    <%= f.button :submit, "Update", class: "btn btn-success"%>
</div>

<%end%>
