<%= simple_form_for(@fuel_price,remote: true, url: supplier_fuel_prices_path, wrapper: :vertical_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean:
:horizontal_boolean }) do |f| %>
<%= f.input :regular, label: "Regular", wrapper: :vertical_input_group, hint: "Your base price for Regular" do %>
<span class="input-group-btn">
  <button class="btn btn-default" type="button">
    <i class="fa fa-usd" style="color:#1ab394"></i>
  </button>
</span>
<%= f.input_field :regular, class: "form-control", placeholder: "1.25" %>
<%end%>
<%= f.input :medium, label: "Medium", wrapper: :vertical_input_group, hint: "Your base price for Medium" do %>
<span class="input-group-btn">
  <button class="btn btn-default" type="button">
    <i class="fa fa-usd" style="color:#1ab394"></i>
  </button>
</span>
<%= f.input_field :medium, class: "form-control", placeholder: "1.25" %>
<%end%>
<%= f.input :premium, label: "Premium", wrapper: :vertical_input_group, hint: "Your base price for Premium" do %>
<span class="input-group-btn">
  <button class="btn btn-default" type="button">
    <i class="fa fa-usd" style="color:#1ab394"></i>
  </button>
</span>
<%= f.input_field :premium, class: "form-control", placeholder: "1.25" %>
<%end%>
<%= f.input :diesel, label: "Diesel", wrapper: :vertical_input_group, hint: "Your base price for Diesel" do %>
<span class="input-group-btn">
  <button class="btn btn-default" type="button">
    <i class="fa fa-usd" style="color:#1ab394"></i>
  </button>
</span>
<%= f.input_field :diesel, class: "form-control", placeholder: "1.25" %>
<%end%>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
<%= f.button :submit, "Update", class: "btn btn-primary"%>
</div>
<%end%>
