<%= simple_form_for([:supplier, @fuel_price],remote: true,  wrapper: :vertical_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean:
:horizontal_boolean }) do |f| %>
<%= f.simple_fields_for :fuel_products do |product_form| %>
    <%= render partial: 'fuel_products', locals: {f: product_form} %>
  <% end %>

  <div><strong>XPTO</strong></div>

  <%= link_to_add_fields "Add File", f, :fuel_products %>

<div class="modal-footer">
<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
<%= f.button :submit, "Update", class: "btn btn-primary"%>
</div>
<%end%>
