<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Daily Fuel Price</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to "Home", supplier_dashboard_path%>
      </li>
      <li class="active">
        <strong>Fuel Prices</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div class="">
          <%= link_to "New Price", new_supplier_fuel_price_path, class: "btn btn-primary"%>
        </div>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>Regular</th>
              <th>Medium</th>
              <th>Premium</th>
              <th>Diesel</th>

            </tr>
          </thead>
          <% @fuel_prices.each do |f|%>
          <tbody>
            <tr class="gradeX">
              <td class="mycell"><strong><%= f.created_at.strftime("%m/%d/%Y") %></strong></td>
              <% if f.id == @latest_fuel_price.id && Time.now.strftime("%d") == @latest_fuel_price.created_at.strftime("%d")  %>
                <td class="mycell2"><strong><span class="label label-success">Today's Latest</span></strong></td>
              <%elsif (Time.now.strftime("%d").to_i + 1) == (@latest_fuel_price.created_at.strftime("%d").to_i + 1)%>
                <td class="mycell2"><strong><span class="label label-warning">Previous Price</span></strong></td>
                <%else%>
                <td class="mycell2"><strong><span class="label label-danger">Ancient Price</span></strong></td>
              <%end%>
              <td class="mycell">
                <%= f.regular %>
              </td>
              <td class="mycell"><%= f.medium %></td>
              <td class="mycell"><%= f.premium %></td>
              <td class="mycell"><%= f.diesel %></td>
            </tr>
<%end%>
          </tbody>

        </table>

      </div>
    </div>
  </div>
</div>
