<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span><%=image_tag("rsz_1petrohub.png")%></span>
          <!-- This is for User Image -->
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Account# NJREX234</strong>
              </span>
              <span class="text-muted text-xs block">Options<b class="caret"></b>
              </span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a href="#">Profile</a>
            </li>
            <li>
              <a href="#">Network</a>
            </li>
            <li>
              <a href="#">Billing</a>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          PH+
        </div>
      </li>
      <li class="<%= 'active' if current_page?supplier_dashboard_url %>">
        <%= link_to supplier_dashboard_path do %>
        <i class="fa fa-dashboard"></i>
        <span class="nav-label">Dashboard</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?supplier_fuel_prices_path%>">
        <%= link_to supplier_fuel_prices_path do %>
        <i class="fa fa-usd"></i>
        <span class="nav-label">Fuel Price</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?supplier_retailers_path%>">
        <%= link_to supplier_contacts_path do %>
        <i class="fa fa-users"></i>
        <span class="nav-label">Retailers</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?retailer_stations_url%>">
        <%= link_to root_path do %>
        <i class="fa fa-filter"></i>
        <span class="nav-label">Orders</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?retailer_stations_url%>">
        <%= link_to root_path do %>
        <i class="fa fa-file-text-o"></i>
        <span class="nav-label">Documents</span>
        <% end %>
      </li>
      <li class="<%= 'active' if current_page?retailer_stations_url%>">
        <%= link_to root_path do %>
        <i class="fa fa-bar-chart"></i>
        <span class="nav-label">Reports</span>
        <% end %>
      </li>
    </ul>

  </div>
</nav>
